@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700');

body{
    font-family: 'IBM Plex Sans', sans-serif;
}

.green{
    background-color: #65f760;
}
.red{
    background-color: #ef411a;
}


*{
    margin: 0px;
    padding: 0px;
}

.heading{
    text-align: center;
    font-size: 30px;
    padding: 25px;
    font-weight: bold;
}

.informations{
    height: 50vh;
    margin: 10px;
}
.informations::before {    
    content: "";
    background: url("../imgs/heart1.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    height: 50vh;
}
.informations .heading{
    height: 40%;
    position: relative;
    font-size: 40px;
}
.info{
    padding: 10px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.data-entry{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    
}
.data-entry p{
    background-color: white;
}
.data-entry form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.entry{
    margin: 5px 0px;
    height: 35px;
}

.entry input{
    height: 25px;
    padding: 0px 5px;
    font-size: 15px;
}
.entry select{
    height: 30px;
    padding: 0px 5px;
    font-size: 14px;
    min-width: 200px;
    width: fit-content;
}

.submit{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.submit button{
    height: 50px;
    width: 140px;
    cursor: pointer;
    border-radius: .25rem;
    border: 1px solid transparent;
    color: white;
    border-color: #007bff;
    background-color: #007bff;
    text-align: center;
    font-size: 1rem;
}
.submit button:hover{
    background-color: #065dbb;
}


.result{
    background-color: #65f760;
    padding: 10px;
    text-align: center;
    width: fit-content;
    margin: 30px auto;
    border:5px double black;
    border-radius: 10px;
}
.result .heading{
    padding: 10px;
}
.prediction{
    font-size: 20px;
}